{% extends "index.html" %}

{% load static i18n %}

{% block cobertura %}
<body>
  <section class="mw9 center ph3">
      <div class="tc pv5">
        <h1 class="ma0 center w-70-ns w-100">Elige la cobertura que mejor se adecue a tus necesidades.</h1>
        <p>En el caso de que tengas dudas un asesor se comunicará contigo.</p>
      </div>
      <div class="pb5">
<table id="cobertura-table">
    <thead>
        <tr>
            <th scope="col">Marca</th>
            <th scope="col">Responsabilidad Civil</th>
            <th scope="col">Terceros Completos</th>
            <th scope="col">Terceros Completos Full</th>
            <th scope="col">Terceros Completos Full + Granizo</th>
            <th scope="col">Todo Riesgo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Marca"><img src="{% static 'images/logo-1.jpg' %}" class="w-50" /></td>
            <td data-label="Responsabilidad Civil">x</td>
            <td data-label="Terceros Completos">x</td>
            <td data-label="Terceros Completos Full">$2500</td>
            <td data-label="Terceros Completos Full + Granizo">$2500</td>
            <td data-label="Todo Riesgo">$2500</td>
        </tr>
        <tr>
            <td scope="row" data-label="Marca"><img src="{% static 'images/logo-2.jpg' %}" class="w-50" /></td>
            <td data-label="Responsabilidad Civil">x</td>
            <td data-label="Terceros Completos">$2500</td>
            <td data-label="Terceros Completos Full">$2500</td>
            <td data-label="Terceros Completos Full + Granizo">$2500</td>
            <td data-label="Todo Riesgo">$2500</td>
        </tr>
        <tr>
            <td scope="row" data-label="Marca"><img src="{% static 'images/logo-3.jpg' %}" class="w-50" /></td>
            <td data-label="Responsabilidad Civil">x</td>
            <td data-label="Terceros Completos">x</td>
            <td data-label="Terceros Completos Full">x</td>
            <td data-label="Terceros Completos Full + Granizo">x</td>
            <td data-label="Todo Riesgo">x</td>
        </tr>
        <tr>
            <td scope="row" data-label="Marca"><img src="{% static 'images/logo-4.jpg' %}" class="w-50" /></td>
            <td data-label="Responsabilidad Civil">$2500</td>
            <td data-label="Terceros Completos">x</td>
            <td data-label="Terceros Completos Full">$2500</td>
            <td data-label="Terceros Completos Full + Granizo">$2500</td>
            <td data-label="Todo Riesgo">x</td>
        </tr>
        <tr>
            <td scope="row" data-label="Marca"><img src="{% static 'images/logo-5.jpg' %}" class="w-30" /></td>
            <td data-label="Responsabilidad Civil">$2500</td>
            <td data-label="Terceros Completos">x</td>
            <td data-label="Terceros Completos Full">$2500</td>
            <td data-label="Terceros Completos Full + Granizo">x</td>
            <td data-label="Todo Riesgo">x</td>
        </tr>
        <tr>
            <td scope="row" data-label="Marca"><img src="{% static 'images/logo-6.jpg' %}" class="w-60" /></td>
            <td data-label="Responsabilidad Civil">$2500</td>
            <td data-label="Terceros Completos">$2500</td>
            <td data-label="Terceros Completos Full">x</td>
            <td data-label="Terceros Completos Full + Granizo">x</td>
            <td data-label="Todo Riesgo">x</td>
        </tr>
        <tr>
                <td scope="row" data-label="Marca"><img src="{% static 'images/logo-7.jpg' %}" class="w-60" /></td>
                <td data-label="Responsabilidad Civil">$2500</td>
                <td data-label="Terceros Completos">x</td>
                <td data-label="Terceros Completos Full">x</td>
                <td data-label="Terceros Completos Full + Granizo">$2500</td>
                <td data-label="Todo Riesgo">$2500</td>
            </tr>
    </tbody>
</table>
</div>
<div id="info-seguro" class="pv4 bb b--black mb4">
  <div class="flex flex-wrap">
    <div class="w-50-ns w-100">
      <h2 class="f1 serif normal ma0 pb3">Responsabilidad Civil</h2>
      <p class="ma0 f7">- Vigencia de Poliza: Anual con actualizacion de cuota cuatrimestral</p>
      <p class="ma0 f7">- Daños físicos o materiales a terceros hasta $6.000.000</p>
      <p class="ma0 f7">- Cobertura en países limítrofes</p>
    </div>
    <div class="w-50-ns w-100 pv3">
      <p class="f7 ma0">Primeras 4 cuotas de</p>
      <p class="f1 fw7 ma0">$ 2.500</p>
      <p><button class="btn-yellow">Contratar seguro</button></p>
    </div>
  </div>
</div>
<div id="listo" class="mw6 center pv5">
      <div class="flex flex-wrap items-center">
          <span class="w-30-ns w-100 tl-ns tc"><img data-aload="{% static 'images/listo-icon.jpg' %}" /></span>
          <div class="w-70-ns w-100 tl-ns tc">
            <h2 class="f1 serif normal">Listo!</h2>
            <p>Uno de nuestros asesores comerciales se estará comunicando con vos en los próximos minutos para brindarte toda la información necesaria para la contratación del seguro que elegiste.</p>
          </div>
        </div>
</div>
  </section>
      {% endblock %}
