{% extends "base.html" %}

{% load static i18n %}

{% block content %}

  <div id="introLoader" class="introloader">
    <div class="spinner">
      <div class="spinner-inner"></div>
    </div>
  </div>
  <header class="mw9 center">
    <div id="mobile-nav" class="dn-l">
      <div class="flex items-center justify-between z-2 pl3">
        <a href="/" class="pv3 f4 fw7 dark-gray link lh-solid ma0">Seguros</br>2020</a>
        <button id="toggle-menu" type="button" class="bg-transparent bn f4 outline-0 pa3 pointer"></button>
      </div>
      <div>
        <nav id="menu" class="bg-near-white dn">
          <a href="#" class="link dark-gray hover-bg-white db ph3 pv2">Seguros de Hogar</a>
          <a href="#" class="link dark-gray hover-bg-white db ph3 pv2">Comercio</a>
          <a href="#" class="link dark-gray hover-bg-white db ph3 pv2">ART</a>
          <a href="#" class="link dark-gray hover-bg-white db ph3 pv2">Barcos</a>
          <a href="#" class="link dark-gray hover-bg-white db ph3 pv2">Contacto </a>
          <p class="ph3 pt2 pb3 ma0">0.810.555.101</p>
        </nav>
      </div>
    </div>

    <div id="desktop-nav" class="dn-ms pv4">
      <div class="flex justify-between items-center ph3">
        <a href="/" class="f3 fw7 dark-gray link lh-solid ma0">Seguros</br>2020</a>
        <p class="flex items-center"><span class="pr1"><img src="{% static 'images/phone-icon.jpg' %}" class="w-80"/></span>0.810.555.101</p>
        <nav>
          <a href="#" class="link dark-gray ph2">Seguros de Hogar</a>
          <a href="#" class="link dark-gray ph2">Comercio</a>
          <a href="#" class="link dark-gray ph2">ART</a>
          <a href="#" class="link dark-gray ph2">Barcos </a>
        </nav>
        <a href="#" class="link dark-gray">Contacto </a>
      </div>
    </div>
  </header>
  <section class="mw9 center ph3">
      <div class="tc pv5">
        <h1 class="ma0 center w-60-ns w-100">Elige la cobertura que mejor se adecue a tus necesidades.</h1>
        <p>En el caso de que tengas dudas un asesor se comunicará contigo.</p>
      </div>
      <div class="pb5">
<table>
    <thead>
        <tr>
            <th scope="col white">Marca</th>
            <th scope="col">Responsabilidad Civil</th>
            <th scope="col">Terceros Completos</th>
            <th scope="col">Terceros Completos Full</th>
            <th scope="col">Terceros Completos Full + Granizo</th>
            <th scope="col">Todo Riesgo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Marca"><img src="assets/images/logo-1.jpg" class="w-50" /></td>
            <td data-label="Responsabilidad Civil">x</td>
            <td data-label="Terceros Completos">x</td>
            <td data-label="Terceros Completos Full">$2500</td>
            <td data-label="Terceros Completos Full + Granizo">$2500</td>
            <td data-label="Todo Riesgo">$2500</td>
        </tr>
        <tr>
            <td scope="row" data-label="Marca"><img src="assets/images/logo-2.jpg" class="w-50" /></td>
            <td data-label="Responsabilidad Civil">x</td>
            <td data-label="Terceros Completos">$2500</td>
            <td data-label="Terceros Completos Full">$2500</td>
            <td data-label="Terceros Completos Full + Granizo">$2500</td>
            <td data-label="Todo Riesgo">$2500</td>
        </tr>
        <tr>
            <td scope="row" data-label="Marca"><img src="assets/images/logo-3.jpg" class="w-50" /></td>
            <td data-label="Responsabilidad Civil">x</td>
            <td data-label="Terceros Completos">x</td>
            <td data-label="Terceros Completos Full">x</td>
            <td data-label="Terceros Completos Full + Granizo">x</td>
            <td data-label="Todo Riesgo">x</td>
        </tr>
        <tr>
            <td scope="row" data-label="Marca"><img src="assets/images/logo-4.jpg" class="w-50" /></td>
            <td data-label="Responsabilidad Civil">$2500</td>
            <td data-label="Terceros Completos">x</td>
            <td data-label="Terceros Completos Full">$2500</td>
            <td data-label="Terceros Completos Full + Granizo">$2500</td>
            <td data-label="Todo Riesgo">x</td>
        </tr>
        <tr>
            <td scope="row" data-label="Marca"><img src="assets/images/logo-5.jpg" class="w-30" /></td>
            <td data-label="Responsabilidad Civil">$2500</td>
            <td data-label="Terceros Completos">x</td>
            <td data-label="Terceros Completos Full">$2500</td>
            <td data-label="Terceros Completos Full + Granizo">x</td>
            <td data-label="Todo Riesgo">x</td>
        </tr>
        <tr>
            <td scope="row" data-label="Marca"><img src="assets/images/logo-6.jpg" class="w-60" /></td>
            <td data-label="Responsabilidad Civil">$2500</td>
            <td data-label="Terceros Completos">$2500</td>
            <td data-label="Terceros Completos Full">x</td>
            <td data-label="Terceros Completos Full + Granizo">x</td>
            <td data-label="Todo Riesgo">x</td>
        </tr>
        <tr>
                <td scope="row" data-label="Marca"><img src="assets/images/logo-7.jpg" class="w-60" /></td>
                <td data-label="Responsabilidad Civil">$2500</td>
                <td data-label="Terceros Completos">x</td>
                <td data-label="Terceros Completos Full">x</td>
                <td data-label="Terceros Completos Full + Granizo">$2500</td>
                <td data-label="Todo Riesgo">$2500</td>
            </tr>
    </tbody>
</table>
</div>
<div id="info-seguro" class="pv4 bb b--black mb4">
  <p class="w-10-ns w-50">
    <img src="assets/images/logo-4.jpg" class="w-100" />
  </p>
  <div class="flex flex-wrap">
    <div class="w-50-ns w-100">
      <h2 class="f1 serif normal ma0 pb3">Responsabilidad Civil</h2>
      <p class="ma0 f7">- Vigencia de Poliza: Anual con actualizacion de cuota cuatrimestral</p>
      <p class="ma0 f7">- Daños físicos o materiales a terceros hasta $6.000.000</p>
      <p class="ma0 f7">- Cobertura en países limítrofes</p>
    </div>
    <div class="w-50-ns w-100 pv3">
      <p class="f7 ma0">Primeras 4 cuotas de</p>
      <p class="f1 fw7 ma0">$ 2.500</p>
      <p><button class="btn-yellow">Contratar seguro</button></p>
    </div>
  </div>
</div>
<div id="listo" class="mw6 center pv5">
      <div class="flex flex-wrap items-center">
          <span class="w-30-ns w-100 tl-ns tc"><img data-aload="assets/images/listo-icon.jpg" /></span>
          <div class="w-70-ns w-100 tl-ns tc">
            <h2 class="f1 serif normal">Listo!</h2>
            <p>Uno de nuestros asesores comerciales se estará comunicando con vos en los próximos minutos para brindarte toda la información necesaria para la contratación del seguro que elegiste.</p>
          </div>
        </div>
</div>
  </section>
      <section class="bg-near-white">
        <div class="mw8 center ph3">
          <div class="flex justify-center flex-wrap">
            <div class="w-50-ns w-100 pa4-ns pa2 flex flex-wrap items-center">
              <span class="w-30-ns w-100 tl-ns tc"><img data-aload="assets/images/icons_f1.png" /></span>
              <div class="w-70-ns w-100 tl-ns tc">
                <p class="fw7">Una mejor experiencia.</p>
                <p>Seguros2020 nace del compromiso de una nueva generación. El seguro hecho a medida ofrece más por menos en comparación a empresas tradicionales del rubro</p>
              </div>
            </div>
            <div class="w-50-ns w-100 pa4-ns pa2 flex flex-wrap items-center">
                <span class="w-30-ns w-100 tl-ns tc"><img data-aload="assets/images/icons_f2.png" /></span>
                <div class="w-70-ns w-100 tl-ns tc">
                  <p class="fw7">Confiables y compañías líderes.</p>
                  <p>Nos asociamos con algunas de las compañías de seguro lideres para que nuestros clientes puedan sacarle el máximo provecho a nuestra atención y servicio de confianza.</p>
                </div>
              </div>
          </div>
        </div>
      </section>
      <footer class="mw9 center ph3">
        <div class="flex justify-center serif pv4-ns pv3 flex-wrap">
          <a href="#" class="link dark-gray pa2">Seguros2020</a>
          <a href="#" class="link dark-gray pa2">Preguntas</a>
          <a href="#" class="link dark-gray pa2">Equipo</a>
          <a href="#" class="link dark-gray pa2">Trabajá con nosotros</a>
          <a href="#" class="link dark-gray pa2">Términos</a>
          <a href="#" class="link dark-gray pa2">Privacidad</a>
          <a href="#" class="link dark-gray pa2">Contacto</a>
        </div>
        <div class="flex justify-between items-center flex-wrap pv4-ns pv3">
          <ul class="flex justify-start-ns justify-center w-50-ns w-100">
            <li><a href="#" target="_blank" class="link dim"><img data-aload="assets/images/social-facebook.svg" class="w-70"/></a></li>
            <li><a href="#" target="_blank" class="link dim"><img data-aload="assets/images/social-twitter.svg" class="w-70"/></a></li>
            <li><a href="#" target="_blank" class="link dim"><img data-aload="assets/images/social-linkedin.svg" class="w-70"/></a></li>
            <li><a href="#" target="_blank" class="link dim"><img data-aload="assets/images/social-instagram.svg" class="w-70"/></a></li>
          </ul>
          <div class="tr-ns tc w-50-ns w-100"><img data-aload="assets/images/footer-logos.jpg" class="w-100"/></div>
        </div>
      </footer>
      {% endblock %}