{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<div class="flex">
  <div class="sidebar-data">
	  <div class="dn-l">
		<button id="sidebar-m" type="button"><</button>
	</div>
    <div class="fixed">
      <a href="#" class="link logo-databook">Databook
        <span>beta</span>
      </a>
      <nav class="pv4 pl4">
        <a href="{% url 'dashboard' %}" class="link pv3 db">Dashboard</a>
        <a href="{% url 'tickets' %}" class="link pv3 db">Tareas</a>
        <a href="{% url 'todos' %}" class="link pv3 db">Todos</a>
        <a href="#" class="link pv3 db flex items-center" id="pendiente">
          <span></span>
          <p>Pendiente</p>
        </a>
        <a href="#" class="link pv3 db flex items-center" id="contactado">
          <span></span>
          <p>Contactado</p>
        </a>
        <a href="#" class="link pv3 db flex items-center" id="nocontratado">
          <span></span>
          <p>No Contratado</p>
        </a>
        <a href="#" class="link pv3 db flex items-center" id="contratado">
          <span></span>
          <p>Contratado</p>
        </a>
        <a href="#" class="link pv3 db flex items-center" id="error">
          <span></span>
          <p>Error</p>
        </a>
        <a href="#" class="link pv3 db flex items-center" id="baja">
          <span></span>
          <p>Baja</p>
        </a>
      </nav>
      <p class="f8 i lh-solid mw4">Databook is a property of VNL Group. 2015 All Rights Reserved</p>
    </div>
  </div>

  <div class="content-data bg-near-white">
    <div class="header-panel flex flex-wrap-ns flex-wrap-reverse justify-between items-center">
      <div class="bg-white flex items-center ph2 h2 mv2 w-auto-ns w-100">
        <span>
          <img src="{% static 'images/search.svg' %}" class="w-50" />
        </span>
        <input type="search" placeholder="Buscar" class="bn w-100">
      </div>
      <div class="flex mv2 w-auto-ns w-100 justify-end">
        <a href="#" class="link black flex items-center mh3">
          <span class="profile-pic">
            <img src="{% static 'images/profile-pic.jpg' %}" />
          </span>
          <p class="f6 ma0 pl2 dn-ms">Juan Gonzalez</p>
        </a>
        <a href="#">
          <span class="icon-header">
            <img src="{% static 'images/settings.svg' %}" />
          </span>
        </a>
        <a href="#">
          <span class="icon-header">
            <img src="{% static 'images/calendar.svg' %}" />
          </span>
        </a>
      </div>
    </div>
    {% block panel_content %}

	  {% endblock %}
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/tsorter.min.js' %}"></script>
{% endblock javascript %}
</script>
