{% extends "panel.html" %}

{% block panel_content %}
<div class="pv4 ph2">
      <h2 class="ma0">Datos Cotización</h2>
      <p class="ma0 f6">
        <a href="/tickets" class="underline silver">Belen Marian Stegman, #4546</a>
      </p>
    </div>
    <div class="flex flex-wrap pb4">
      <div class="w-third-ns w-100 ph2">
        <div class="datos-panel">
          <ul>
            <li class="silver f7 pv1">Año</li>
            <li class="black f6 fw6 pv1">2017</li>
          </ul>
          <ul>
            <li class="silver f7 pv1">Marca</li>
            <li class="black f6 fw6 pv1">Peugeot</li>
          </ul>
          <ul>
            <li class="silver f7 pv1">Grupo Modelo</li>
            <li class="black f6 fw6 pv1">208</li>
          </ul>
          <ul>
            <li class="silver f7 pv1">Modelo</li>
            <li class="black f6 fw6 pv1">208 1.5 5P Allure</li>
          </ul>
          <ul>
            <li class="silver f7 pv1">Rastro Satelital</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
          <ul>
            <li class="silver f7 pv1">Provincia</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
          <ul>
            <li class="silver f7 pv1">Localidad Allianz</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
        </div>
      </div>
      <div class="w-third-ns w-100 ph2">
        <div class="datos-panel">
          <ul>
            <li class="silver f7 pv1">Localidad Mercantil</li>
            <li class="black f6 fw6 pv1">C. Federal</li>
          </ul>
          <ul>
            <li class="silver f7 pv1">Forma de Pago</li>
            <li class="black f6 fw6 pv1">American Express</li>
          </ul>
          <ul>
            <li class="silver f7 pv1">Fecha de Nacimiento del titular</li>
            <li class="black f6 fw6 pv1">01/01/1980</li>
          </ul>
          <ul>
            <li class="silver f7 pv1">Valor GNC</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
          <ul>
            <li class="silver f7 pv1">Cero Km</li>
            <li class="black f6 fw6 pv1">si</li>
          </ul>
          <ul>
            <li class="silver f7 pv1">Codigo Postal</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
          <ul>
            <li class="silver f7 pv1">Localidad Zurich</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
        </div>
      </div>
      <div class="w-third-ns w-100 ph2">
        <div class="datos-panel">
          <ul>
            <li class="silver f7 pv1">Tipo de IVA</li>
            <li class="black f6 fw6 pv1">Consumidor Final</li>
          </ul>
          <ul>
            <li class="silver f7 pv1">Tipo de Uso</li>
            <li class="black f6 fw6 pv1">Particular</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex">
      <button class="btn-black">Cancelar</button>
      <button class="btn-black">Cotizar</button>
    </div>

{% endblock %}
