{% extends "panel.html" %}

{% block panel_content %}
<div class="pv4 ph2">
      <h2 class="ma0">Datos Cotización</h2>
      <p class="ma0 f6">
        <a href="#" class="underline silver">Belen Marian Stegman, #4546</a>
      </p>
    </div>
    <div class="flex flex-wrap pb4">
      <div class="w-third-ns w-100 ph2">
        <div class="bg-white pa4 mb3">
          <ul class="pb4">
            <li class="silver f7 pv1">Año</li>
            <li class="black f6 fw6 pv1">2017</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Marca</li>
            <li class="black f6 fw6 pv1">Peugeot</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Grupo Modelo</li>
            <li class="black f6 fw6 pv1">208</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Modelo</li>
            <li class="black f6 fw6 pv1">208 1.5 5P Allure</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Rastro Satelital</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Provincia</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Localidad Allianz</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
        </div>
      </div>
      <div class="w-third-ns w-100 ph2">
        <div class="bg-white pa4 mb3">
          <ul class="pb4">
            <li class="silver f7 pv1">Localidad Mercantil</li>
            <li class="black f6 fw6 pv1">C. Federal</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Forma de Pago</li>
            <li class="black f6 fw6 pv1">American Express</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Fecha de Nacimiento del titular</li>
            <li class="black f6 fw6 pv1">01/01/1980</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Valor GNC</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Cero Km</li>
            <li class="black f6 fw6 pv1">si</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Codigo Postal</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Localidad Zurich</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
        </div>
      </div>
      <div class="w-third-ns w-100 ph2">
        <div class="bg-white pa4 mb3">
          <ul class="pb4">
            <li class="silver f7 pv1">Tipo de IVA</li>
            <li class="black f6 fw6 pv1">Consumidor Final</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Tipo de Uso</li>
            <li class="black f6 fw6 pv1">Particular</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex">
      <button class="btn-black">Cancelar</button>
      <button class="btn-black">Cotizar</button>
    </div>
    {% endblock %} {% block dashboard %}
    <div class="pv4 ph2">
		<div class="flex items-center">
	  <h2 class="ma0">Belen Mariana Stegman, #4546</h2>
	  <div>
		  <select  class="status">
			  <option value="1">pendiente</option>
			  <option value="2">contactado</option>
			  <option value="3" style="background: #f09a2c;"><p>no contratado</option>
			  <option value="4">contratado</option>
			  <option value="5">error</option>
			  <option value="6">Baja</option>
		  </select>
	  </div>
	</div>
      <p class="f6 ma0">
        <a href="mailto:beluestegman@hotmail.com" class="underline silver">beluestegman@hotmail.com</a>
      </p>
      <p class="f6 ma0">
        <a href="tel" class="underline silver">tel.11 4444 8888</a>
      </p>
    </div>
    <div class="flex flex-wrap pb4">
      <div class="w-third-ns w-100 ph2">
        <div class="bg-white pa4 mb3">
          <ul class="pb4">
            <li class="silver f7 pv1">Nombre y Apellido</li>
            <li class="black f6 fw6 pv1">Belen Mariana Stegman</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Email</li>
            <li class="black f6 fw6 pv1">belustegman@hotmail.com</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Telefono</li>
            <li class="black f6 fw6 pv1">11 4444 8888</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Edad</li>
            <li class="black f6 fw6 pv1">29</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Sexo</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Estado Civil</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Horario</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
        </div>
      </div>
      <div class="w-third-ns w-100 ph2">
        <div class="bg-white pa4 mb3">
          <ul class="pb4">
            <li class="silver f7 pv1">Marca</li>
            <li class="black f6 fw6 pv1">Audi</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Modelo</li>
            <li class="black f6 fw6 pv1">A3</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Versión</li>
            <li class="black f6 fw6 pv1">A3 1.4 T FSI</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Año</li>
            <li class="black f6 fw6 pv1">2014</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Kilometros</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Combustible</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Valor Asegurado</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
        </div>
      </div>
      <div class="w-third-ns w-100 ph2">
        <div class="bg-white pa4 mb3">
          <ul class="pb4">
            <li class="silver f7 pv1">Codigo Postal</li>
            <li class="black f6 fw6 pv1">.</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Provincia</li>
            <li class="black f6 fw6 pv1">Buenos Aires</li>
          </ul>
          <ul class="pb4">
            <li class="silver f7 pv1">Localidad</li>
            <li class="black f6 fw6 pv1">caba</li>
          </ul>
        </div>
        <div class="bg-white pa4 mb3">
          <ul class="pb3">
            <li>
              <span class="black f6 fw6 pv1">Nueva Tarea</span>
              <a href="#" class="silver f6">19 Enero 2018</a>
            </li>
          </ul>
          <ul class="pb2">
            <textarea class="bg-near-black w-100 h4"></textarea>
            <p class="nl2"><button class="btn-black">Aceptar</button></p>
          </ul>
        </div>
      </div>
	</div>
	<div class="pb4 ph2">
		<div class="bg-white pa4 mb3">
			<p class="black f6 fw6 pv1">Cotización de Seguros2020.com</p>
			<table id="cotizacion-table">
				<thead>
					<tr>
						<th scope="col">Marca</th>
						<th scope="col">R.C.</th>
						<th scope="col">T.C.</th>
						<th scope="col">T.C. Full</th>
						<th scope="col">T.C. Full + Gr</th>
						<th scope="col">T.R</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td data-label="Marca">Allianz</td>
						<td data-label="R.C.">x</td>
						<td data-label="T.C.">x</td>
						<td data-label="T.C. Full">$2884.89</td>
						<td data-label="T.C. Full + Gr">$2884.89</td>
						<td data-label="T.R.">$4807.72</td>
					</tr>
					<tr>
						<td scope="row" data-label="Marca">Zurich</td>
						<td data-label="R.C.">x</td>
						<td data-label="T.C.">$2884.89</td>
						<td data-label="T.C. Full">$2884.89</td>
						<td data-label="T.C. Full + Gr">$2884.89</td>
						<td data-label="T.R.">$2884.89</td>
					</tr>
					<tr>
						<td scope="row" data-label="Marca">Empresa 3</td>
						<td data-label="R.C.">x</td>
						<td data-label="T.C.">x</td>
						<td data-label="T.C. Full">x</td>
						<td data-label="T.C. Full + Gr">x</td>
						<td data-label="T.R.">x</td>
					</tr>
					<tr>
						<td scope="row" data-label="Marca">Empresa 4</td>
						<td data-label="R.C.">$2884.89</td>
						<td data-label="T.C.">x</td>
						<td data-label="T.C. Full">$2884.89</td>
						<td data-label="T.C. Full + Gr">$2884.89</td>
						<td data-label="T.R.">x</td>
					</tr>
					<tr>
						<td scope="row" data-label="Marca">Empresa 5</td>
						<td data-label="R.C.">$2884.89</td>
						<td data-label="T.C.">x</td>
						<td data-label="T.C. Full">$2884.89</td>
						<td data-label="T.C. Full + Gr">x</td>
						<td data-label="T.R.">x</td>
					</tr>
					<tr>
						<td scope="row" data-label="Marca">Empresa 6</td>
						<td data-label="R.C.">$2884.89</td>
						<td data-label="T.C.">$2884.89</td>
						<td data-label="T.C. Full">x</td>
						<td data-label="T.C. Full + Gr">x</td>
						<td data-label="T.R.">x</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
